body{
	-webkit-font-smoothing: antialiased;
}

.navigation { 
	grid-area: navigation; 
	display: block;
}

.content { 
	grid-area: content; 
}

.content > nav{
	display: block;
	background-color: rgb(209,236,241);
	margin-bottom: 1rem;
}

.content > nav a{
	color: rgb(14,138,156);
	font-weight: 450;
	text-shadow: 20px;
}


.content > section > article{
	border-bottom-style: dotted;  
	border-width: 0.05em; 
	border-color:grey;
	display: block;
	height: 11rem;
	width: 100%;
	padding: 1em 0;
}

.frame-square {
  background: #fff;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: 100%;
  margin-right: .5em;
  margin-bottom: .3em;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.crop {
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
}

.crop img {
	height: 100%;
	width: auto;	
}

.asidem1 { 
	height: auto;
	width: 100%;
	grid-area: aside1; 
}


.asidem1 > div { 
	display: block;
	height: 17.51rem;   
	width: 100%;
	background-color: rgb(209,236,241);
	border-bottom: 1px solid #dee2e6;
}

.asidem2 { 
	height: auto;
	width: 100%;
	grid-area: aside2; 
}


.asidem2 > div{ 
	display: block;
	height: 17.6rem;   
	width: 100%;
	background-color: rgb(209,236,241);
	border-bottom: 1px solid #dee2e6;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'navigation navigation navigation'
		'aside1 profile aside2'
		'aside1 content aside2';
	grid-template-columns: 1fr minmax(100px, 1000px) 1fr;
}

.profile { 
	grid-area: profile;
	height: 15em;   
	background-color: rgb(209,236,241);
	background-size: 100% 100%;
	position: relative;
}

.profile-bubble {
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 1em;
	border-radius: 1em;
	overflow:hidden;
}

.profile-info {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

#picture  img{
	height: 10em;
	width: 10em;
	border-radius: 50%;
	vertical-align: middle;
}

#picture {
	white-space: normal;
	height: 10em;
	width: 10em;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	background: url('..\images\person.png') no-repeat;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}


#picture:hover img:first-child{
	visibility: visible;
}

#picture:hover img:first-child + img{
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	opacity: 0.4;
}

#picture img:first-child{
  position: relative;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
}


#picture img:nth-child(1){
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
  visibility: hidden;
}

.profile-info p{
	width: auto;
	margin-top: 1em;
	white-space: normal;
}


.edit {
	display: inline-block;
	width: 1.5rem; 
	height: 1.5rem; 
	margin:0; 
	cursor: pointer
}


.profile-info > img {
	height: 100%; 
	display: inline-block;
	vertical-align: middle; 
	width: 0px;
}

.editinfo{
	display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}