body{
	-webkit-font-smoothing: antialiased;
}

.navigation { 
	grid-area: navigation; 
	display: block;
}

.content { 
	grid-area: content; 
}


.content > section > article{
	border-bottom-style: dotted;  
	border-width: 0.05em; 
	border-color:grey;
	display: block;
	height: 11rem;
	width: 100%;
	padding: 1em 0;
}



.grid-container {
	display: grid;
	grid-template-areas:
		'navigation navigation navigation'
		'aside1 content aside2';
	grid-template-columns: 1fr minmax(100px, 1000px) 1fr;
}
